body {
    display: flex;
}
h1 {
    font-size: 1.8rem;
    color: #ceceec;
}
h2 {
    color: aqua;
    text-align: center;
}
<<<<<<< HEAD
=======
=======

>>>>>>> 6953445dc83403acba4dae2c93769b2785c35505
